.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #fff;
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet {
  color: #fff;
  background: #fff;
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px);
}

.swiper-button-next {
  background: url(../../../assets/images/ButtonR.svg) no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin-right: 15%;
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
}

.swiper-button-prev {
  background: url(../../../assets/images/ButtonL.svg) no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin-left: 15%;
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
}
