/* #app {
  height: 100%;
} */

html,
body {
  position: relative;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;


}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #c60d0d;
  width: 50rem;
  height: 18.75rem;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {

  margin-top: 3.75rem;
  flex-shrink: 0;
  border-radius: 6px;


}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  background: url(../../assets/images/ButtonR.svg) no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin-right: 16.5rem;
}

.swiper-button-prev {
  background: url(../../assets/images/ButtonL.svg) no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin-left: 16.5rem;


}